<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanghui04.dao.UserMapper">
    <resultMap id="userModel" type="com.tanghui04.model.UserModel">
        <result column="id" jdbcType="INTEGER" property="userId" javaType="int"/>
        <result column="name" jdbcType="VARCHAR" property="userName" javaType="string"/>
        <result column="pwd" jdbcType="VARCHAR" property="password" javaType="string"/>
    </resultMap>
    <select id="getUserList" resultMap="userModel">
        select * from user;
    </select>
    <select id="getUserByLimit" parameterType="map" resultType="com.tanghui04.model.UserModel">
        select * from user limit #{startIndex},#{pageSize};
    </select>
</mapper>